.main {
  width: 80%;
  margin-top: 30px;
}

.letter {
  padding: 0px 10px 0px 10px;
  margin: 0px 5px 0px 0px;
  border-radius: 8px;
}

.letter:hover {
  background-color: #0dcaf0;
  color: #000000;
}
